<!DOCTYPE html>
<html lang="en">

<head>
  <title>RestFood</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Dicoding, dicoding indonesia, submition" />
  <meta name="keywords" content="Dicoding, dicoding indonesia, submition" />
  <meta name="theme-color" content="#c1002d" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png" />
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500" rel="stylesheet" type="text/css" />
</head>

<body>
  <a href="#content" class="skip">Goto Explore</a>
  <header class="header">
    <button id="hamburgerButton" class="header__menu" aria-label="menu">☰</button>
    <div class="header__logo">
      <h1 class="header__title">RestFood</h1>
    </div>
    <nav id="drawer" class="nav">
      <div class="nav__close"><a id="close" href="#">x</a></div>
      <ul class="nav__list">
        <li class="nav__item"><a href="#">Home</a></li>
        <li class="nav__item"><a href="#/favorite">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/rifqi-abrory/">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="jumbotron">
    <div class="jumbotron__inner">
      <h1 class="jumbotron__title">Bingung Hari Ini Mau Makan Apa ?</h1>
      <p class="jumbotron__tagline">Tenang, Kami akan memberikan beberapa informasi beberapa restoran yang cukup relevan
        untuk makan hari ini.</p>
    </div>
  </div>
  <main id="content"></main>
  <footer>
    <p>copyright &#169 2021 - RestFood</p>
  </footer>
</body>

</html>