<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RestFood</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dicoding, dicoding indonesia, submition" />
    <meta name="keywords" content="Dicoding, dicoding indonesia, submition" />
    <meta name="theme-color" content="#c1002d" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <a href="#content" class="skip">Goto Explore</a>
    <app-bar></app-bar>
    <app-jumbotron></app-jumbotron>
    <main id="content"></main>
    <app-footer></app-footer>
  </body>
</html>
